.sectionTop{
    padding: 4px 4px 0px 4px;
    display: flex;
    justify-content: space-between;
    .icon{
        border: 1px solid blue;
        font-size: 1.2rem;
        padding: 2px 5px;
        color: blue;
        box-shadow: 1px 2px blue;
    }
}